<!-- Carousel Slider -->
<div class="container-fluid carou-slider">
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Carousel items -->
    <div class="carousel-inner">

      <div class="active item">
        <div class="container itemContent">
          <span>
            <h4>Del sabor nace el amor</h4>
            <p>
            Si hay algo emocionante de la cocina, es que usamos a cabalidad nuestros 5 sentidos; Todos ellos inmersos en pensar, diseñar y cocinar  para tu evento un Banquete personalizado que  te enamores de el  para que tu Boda, Quince años, Aniversario o cualquier celebración que lo requiera tenga ese toque distintivo que te ofrece  “Banquetes el Buen Plato”.</p>
          </span>
        </div>
        <%= image_tag "slide1.jpg", :alt => "Feature" %>
      </div>

      <div class="item">
        <div class="container itemContent">
          <span>
            <h4>El buen plato </h4>
            <p>
            Banquetes “El Buen Plato”  te ofrece un platillo esplendido con el fin de compartir con tus invitados ese día tan especial  ya sea boda ,XV  o cualquier otra celebración y que sea aún más especial con la delicia del menú que ofrecerás y dejar encantados a todos tus invitados
            </p>
          </span>
        </div>
        <%= image_tag "slide2.jpg", :alt => "Feature" %>
      </div>

      <div class="item">
        <div class="container itemContent">
          <span>
            <h4>Audaz</h4>
            <p>
            Banquetes “El Buen Plato “ es audaz en el ramo, cuenta con un Chef de mas de 10 años de experiencias y aprendiendo nuevas técnicas y destrezas hasta llegar a la excelencia. La practica hace al maestro, hoy por hoy tenemos la dignidad y humildad suficiente para declararnos oficialmente perfectos para tu evento.
            </p>
          </span>
        </div>
        <%= image_tag "slide3.jpg", :alt => "Feature" %>
      </div>
    </div>

    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
  </div>
</div>
