<%= render "share/data" %>

<!-- Hard Times Container -->
<div class="container early-start">
  <div class="row-fluid">
    <div class="span6 client_info_holder animationStart section_featured_texts">
      <h3>Chef Alberto</h3>
      <p>
        Llega un momento en la vida de todo cocinero o chef en la cual nos sentamos a meditar que hemos hecho en nuestras vidas. 
        Cuantos sabores y saberes hemos recorrido, cuantas buenas experiencias, cuantas decepciones; aquellas alegrías y euforias 
        típicas del servicio. Todo esto y más es parte fundamental de la vida gastronómica de todo aquel que lleve varios años 
        trabajando en este ramo.
      </p>

    </div>
    <div class="span6 client_info_holder animationStart section_featured_texts">
      <%= image_tag "Chef_Alberto_Trejo_siriviendo.jpg", :alt => "Chef Alberto Trejo" %>
    </div>
  </div>
</div>

<!-- About Section -->
<div class="container aboutWrapper">
  <%= image_tag "img/parallax/10.png", :class => "aitem a6", :alt => "Featured Image" %>

  <div class="row-fluid">
    <div class="span12 about-title client_info_holder animationStart section_featured_texts">
      <h2>Quiénes somos</h2>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row-fluid about-features client_info_holder animationStart section_featured_texts">
    <div class="span4">
      <h3>Calidad</h3>
    </div>
    <div class="span4">
      <h3>Experiencia</h3>
    </div>
    <div class="span4">
      <h3>Servicio</h3>
    </div>

    <div class="span12 about-info">
      <p>
      Aprendemos de superiores, de ayudantes, de clientes y todo quien gire a nuestro alrededor, hace que nos formemos  
      con calidad y seleccionar siempre lo mejor y asi ,  ser capaces  de resolver y operar cualquier problemática 
      alimenticia y  laboral que pueda presentarse en este ramo.
      </p>

      <p>
        Todos estos conocimientos “me llevaron a poder ser el jefe de cocina; Tuve la fortuna de diseñar  y 
        preparar los platillos que se manejaban en mi lugar de trabajo, ser el encargado de las compras y tener personal 
        a  mi cargo, creo que es el objetivo de cualquier persona que verdaderamente quiere triunfar en la gastronomía”. 
        Para así tener bases sólidas  y claras para  formar mi proyecto  de cocina con una total calidad  y experiencia 
        que es mi cocina “Banquetes el Buen Plato” 
      </p>
      
      <p>
        Así que trabajamos en esto porque nos gusta nos apasiona y llena de gozo sin olvidar que el trabajo lleva consigo 
        una gran responsabilidad y nunca olvidar “Hoy mejor que ayer y mañana mejor que hoy y teniendo en cuenta que el
        éxito en la cocina no tiene mayores secretos que: esfuerzo, trabajo y pasión que son nuestros  pilares.
      </p>
      <p>
        Te invito a que  dejes en nuestras manos ese evento tan especial para ti con la certeza de que estas con las
        personas correctas para proporcionarte a ti y tus invitados un platillo personalizado y exquisito   tal como 
        lo imaginaste lleno de calidad y un buen sabor es lo que te ofrece y hace diferente a  Banquetes el Buen Plato
      </p>
    </div>
  </div>
</div>

