<%= render 'share/data' %>

<!-- Contact Section -->

<div class="container aboutWrapper reservationsWrapper">
  <div class="row-fluid client_info_holder animationStart section_featured_texts">
    <div class="span12 reservations-title">
      <h2>Contact</h2>
    </div>
  </div>

  <div class="divider divider_contact"></div>

  <div class="row-fluid reservations-features client_info_holder animationStart section_featured_texts">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, beatae maiores reiciendis eos autem inventore laboriosam accusamus eius quod quo laudantium officiis provident fugiat magni earum accusantium ipsa ea quidem!</p>

    <form action="#" method="post" class="client_info_holder animationStart section_featured_texts">
      <div class="row-fluid inputWrapper">
        <div class="span6">
          <p>
          <label for="name">First Name</label>
          <input type="text" name="name" id="name">
          </p>

          <p>
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          </p>
        </div>
        <div class="span6">
          <p>
          <label for="last-name">Last Name</label>
          <input type="text" name="last-name" id="last-name">
          </p>

          <p>
          <label for="subject">Subject</label>
          <input type="text" name="subject" id="subject">
          </p>

        </div>

        <div class="row-fluid">
          <div class="span12 messageContainer">
            <label for="message">Message</label>
            <textarea name="message" id="Message" cols="30" rows="10"></textarea>
          </div>
        </div>
        <button type="submit">Send Message</button>
      </div>
    </form>
  </div>
</div>
