<%= render "share/data" %>

<!-- Gallery Posts -->
<div class="container gallery-wrapper">
  <div class="row-fluid">
    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><%= link_to "Gourmet", gourmet_path %></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, nobis, minima, architecto, dolor voluptate odit ipsam nisi aperiam tempore adipisci quo nesciunt nemo. Pariatur, dolorum natus nam deleniti dignissimos incidunt.</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>

    <div class="span6 client_info_holder animationStart section_featured_texts gallery-post">
      <a class="paperStack" href="single-gallery.html">
        <img src="http://placehold.it/428x328/ceba9c/1c2831.png" alt="Featured Image">
      </a>
      <div class="gallery-postinfo">
        <h3><a href="single-gallery.html">Gallery Post Title</a></h3>
        <div class="postinfo">
          <p>12.07.2014</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, numquam, a ducimus minus et nobis sequi dolorum laudantium facilis reprehenderit illum voluptates velit dolor possimus sunt? Praesentium sit obcaecati amet?</p>
        <button>Open Gallery</button>
      </div>
    </div>
  </div>
</div>

