<%= render "share/data" %>
<div class="container single-gallery">
  <div class="row-fluid">
    <div id="wrapper">
      <div id="carousel-wrapper">
        <img id="shadow" src="img/gui/carousel_shadow.png" />
        <div id="carousel">
          <span id="slide-1"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-2"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-3"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-4"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-5"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-6"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-7"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-8"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-9"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
          <span id="slide-10"><img src="http://placehold.it/1024x576/ceba9c/1c2831.png" alt="Featured Image" /></span>
        </div>
      </div>
      <div id="thumbs-wrapper">
        <div id="thumbs">
          <a href="#slide-1" class="selected"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-2"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-3"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-4"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-5"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-6"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-7"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-8"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image"  /></a>
          <a href="#slide-9"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
          <a href="#slide-10"><img src="http://placehold.it/216x143/ceba9c/1c2831.png" alt="Featured Image" /></a>
        </div>
        <a id="prev" href="#"></a>
        <a id="next" href="#"></a>
      </div>
    </div>
  </div>
</div>

