<!-- Footer -->
<div class="container-fluid footer-wrapper">
  <div class="container">
    <div class="row-fluid">
      <div class="span12 twitterFeed">

      </div>

      <div class="row-fluid footer-features">
        <div class="span20 aboutInfo">
          <div class="row-fluid">
            <div class="span2">
              <%= image_tag "img/footer-logo.png", :alt=>"California Logo" %>
            </div>
            <div class="span8">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, necessitatibus, vel expedita doloribus nihil ipsam debitis eligendi! Magni, quia, unde, eum, a quo distinctio quidem officiis sapiente in nulla velit perferendis recusandae minus impedit vitae inventore id dolores praesentium explicabo.</p>
            </div>
          </div>

        </div>
        </div>
        <!---
        <div class="span4 latest-posts">
          <h5>Latest Posts</h5>

          <div class="row-fluid postHolder">
            <div class="span2">
              <a href="#">
                <img src="http://placehold.it/53x53/ceba9c/1c2831.png" alt="Featured Image">
              </a>
            </div>
            <div class="span10">
              <h6><a href="#">Blog Post Title</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>

          <div class="row-fluid postHolder">
            <div class="span2">
              <a href="#">
                <img src="http://placehold.it/53x53/ceba9c/1c2831.png" alt="Featured Image">
              </a>
            </div>
            <div class="span10">
              <h6><a href="#">Blog Post Title</a></h6>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
            </div>
          </div>

        </div>
        <div class="span4 working-schedule">
          <h5>Hours Opened</h5>
          <ul id="schedule">
            <li>
            <span class="day">Monday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Tuesday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Wednesday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Thursday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Friday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Saturday</span>
            <span class="dtime">8:00 am - 11:00 pm</span>
            </li>
            <li>
            <span class="day">Sunday</span>
            <span class="dtime">closed</span>
            </li>
          </ul>
        </div>
      </div>
      -->

      <div class="row-fluid bottom-footer">
        <div class="span6">
          <a class="goTop" href="#"><%= t :back_to_top %></a>
        </div>
        <div class="span6">
          <a href="http://www.elbuenplato.com" target="_blank">Derechos reservados 2014</a>
        </div>
      </div>
    </div>
  </div>
</div>
